body {
	background-image: url("train_station.jpg");
}

.jumbotron{
	position: relative;
	width:95%;
	text-align: center;
	left: 50px;
	background: rgba(0,148,230,0.5);
}

#jumbotron-title {
	color: white;
}

#jumbotron-subtitle {
	color: white;
}

#train-table-header, #add-train-panel {
	width: 10%;
	position: relative;
	left: 20px;
	background:  rgba(0,148,230,0.5);
}

#header-text{
	color: white;
	
}

#table-title {
	color: white;
	background:  rgba(0,148,230,0.5);
}

#add-train-panel {
	position: relative;
	bottom: 10px;
}
#add-train-text {
	color: white;
	text-align: center;
}

#train-table{
	background: rgba(0,148,230,0.8);
}

#train-name-label, #destination-label, #frequency-label, #time-label {
	color: rgb(255,255,255);
}

tr {
	color: white;
}

tr:hover {
	color: black;
	background: rgba(255,255,0,0.6)
}

#new-train-forms {
	background:  rgba(0,148,230,0.5);

}
